@import "tailwindcss";

@theme {
  --color-winBlue: #0078D4;
  --font-sans: "Segoe UI Variable", "Segoe UI", system-ui, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}